@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

* {
    box-sizing: border-box;

}
:root {
    --border-color:#3C99DC;
    --fill-color:#66D3FA;
}
body {
    font-family: 'Roboto Mono', monospace;
    /*background-image: url("lionello-delpiccolo-qEswHvOmi1c-unsplash.jpg");*/
    background: rgb(1,97,111);
    background: linear-gradient(180deg, rgba(1,97,111,1) 0%, rgba(88,243,244,1) 46%, rgba(0,212,255,1) 95%);
    font-size: 22px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 40px;
}
h1 {
    margin: 10px 0 0;
    font-size: 80px;
}
h3 {
    font-weight: 400;
    margin: 10px 0;
}
.cup {
    background-color:#fff;
    border: 4px solid var(--border-color);
    border-radius: 0 0 30px 30px;
    color:#3C99DC;
    height: 300px;
    width: 150px;
    display: flex;
    margin: 30px 0;
    flex-direction: column;
    overflow: hidden;
}
.cup.cup-small {
    height: 100px;
    width: 50px;
    border-radius: 0 0 15px 15px;
    background-color:#fff;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
}
.cup.cup-small.full {
    background-color: var(--fill-color);
    color: #fff;
}
.cups {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
}
.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
}
.remained span {
    font-size: 22px;
    font-weight: bold;
}
.remained small {
    font-size: 15px;
}
.percentage {
    background-color: var(--fill-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    height: 0;
    transition: 0.3s ease;
}
.text {
    text-align: center;
    margin: 0 0 5px;
}
/*
@media only screen and (max-width:700px){
    .cup {
        width: 100%;
        background-color:#fff;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
}
*/